<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}

<body>
    <div class="min-h-screen flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-6xl font-bold">500</h1>
            <p class="text-2xl mb-4">Internal Server Error</p>
            <p class="text-lg">We apologize for the inconvenience. Please try again later.</p>
            <a href="/"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full inline-block hover:underline mt-4">Go
                back to the homepage</a>
        </div>
    </div>
</body>

</html>