<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}

<body>
    {% include "components/navbar.html" %}
    <div class="container mx-auto p-8">
        <h1 class="flex justify-center text-3xl font-semibold mb-4">
            Colorful 🌈
        </h1>
        <form method="post" class="mb-8">
            <div class="flex flex-col items-center justify-center space-y-4 md:space-y-6">
                <div class="flex flex-col items-center justify-center space-y-2 md:flex-row md:space-y-0 md:space-x-2">
                    <input type="text" id="hex-color" name="hex-color" placeholder="#RRGGBB" maxlength="7"
                        pattern="#[0-9A-Fa-f]{6}" title="Enter a valid hex color code (e.g., #RRGGBB)" required
                        class="border rounded-md p-2 w-32 focus:border-blue-400 focus:outline-none"
                        value="{{ selected_color }}" />
                    <input type="color" id="color-picker" value="{{ selected_color }}" class="border rounded-md p-1" />
                </div>
                <div class="flex justify-center mt-4">
                    <div id="color-preview" class="w-24 h-24 rounded shadow-lg"
                        style="background-color: {{ selected_color }};">
                    </div>
                </div>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow">Generate</button>
            </div>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-6" role="alert">
            <span class="block sm:inline">{{ messages[0] }}</span>
        </div>
        {% endif %}
        {% endwith %}
        {% for palette_name, colors in all_palettes.items() %}
        <div class="mt-8">
            <p class="text-xl font-bold mb-4 text-center">{{ palette_name }}</p>
            <div class="flex flex-wrap justify-center -mx-2">
                {% for color in colors %}
                <div class="w-1/2 md:w-1/4 px-2 py-4">
                    <div class="flex flex-col items-center space-y-2">
                        <div class="w-16 h-16 copy-color-code cursor-pointer rounded-full shadow-lg flex justify-center items-center"
                            data-color="{{ color }}" style="background-color: {{ color }}"></div>
                        <span class="copy-color-code cursor-pointer text-sm text-center" data-color="{{ color }}">{{
                            color }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if not loop.last %}
        <hr class="my-8 border-t-2 border-gray-200" />
        {% endif %}
        {% endfor %}
    </div>

    {% include "components/footer.html" %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>