<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colorful 🌈 - Color Palette Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Colorful 🌈 - Color Palette Generator">
    <meta name="description"
        content="Generate beautiful color palettes with Colorful. Create stunning designs effortlessly.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://colorful.megalogic.id">
    <meta property="og:title" content="Colorful 🌈 - Color Palette Generator">
    <meta property="og:description"
        content="Generate beautiful color palettes with Colorful. Create stunning designs effortlessly.">
    <meta property="og:image" content="https://colorful.megalogic.id/static/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://colorful.megalogic.id">
    <meta property="twitter:title" content="Colorful 🌈 - Color Palette Generator">
    <meta property="twitter:description"
        content="Generate beautiful color palettes with Colorful. Create stunning designs effortlessly.">
    <meta property="twitter:image" content="https://colorful.megalogic.id/static/banner.png">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>