<nav class="p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="/" class="text-white text-xl font-bold">
            <img class="h-12" src="{{ url_for('static', filename='logo.svg') }}" alt="Megalogic">
        </a>

        <!-- Navigation Links -->
        <ul class="flex space-x-4">
            <li><a href="https://tools.megalogic.id" target="_blank" class=" hover:text-gray-300">Home</a></li>
            <li><a href="https://tools.megalogic.id/about" target="_blank" class=" hover:text-gray-300">About</a></li>
            <li><a href="https://tools.megalogic.id/tools" target="_blank" class=" hover:text-gray-300">Tools</a></li>
            <li><a href="https://tools.megalogic.id/contact" target="_blank" class=" hover:text-gray-300">Contact</a>
            </li>
            <li><a href="https://tools.megalogic.id/blog" target="_blank" class=" hover:text-gray-300">Blog</a></li>
        </ul>
    </div>
</nav>